<header class="global-header">
    <div class="header-container">
        <div class="logo">
            <a href="{{ '/' | relative_url }}" class="logo-text">Shards of the Library</a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/news' | relative_url }}">News</a></li>
                <li><a href="{{ '/guide' | relative_url }}">Guide</a></li>
                <li><a href="{{ '/media' | relative_url }}">Media</a></li>
            </ul>
        </nav>
        <div class="header-action">
            <a href="https://store.steampowered.com/app/3702320/Shards_of_the_library/" target="_blank" class="btn-play-small">스팀페이지</a>
        </div>
    </div>
</header>
